In [1]:
help('max')

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more positional arguments, return the largest argument.

### create function to add two numbers

In [5]:
def add(x , y):
    """
    add two numbers

    """
    z = x + y
    return z

In [6]:
add(245,777)

1022

In [7]:
# take x = -666 , y = -7777
add(-666,-7777)

-8443

In [8]:
add('data','science')

'datascience'

In [10]:
add([12,34],[56,8,89])

[12, 34, 56, 8, 89]

### create function to add only numbers

In [23]:
def add1(x: int|float , y: int|float):
    """
    add two numbers

    """
    if isinstance(x , (int|float)) and  \
       isinstance( y,(int|float)):
       z = x + y
       return z
    else :
        print("data is not numeric")

In [24]:
a = add1(x = 'python' ,  y = '34')
a

data is not numeric

In [27]:
b =add1 (x=23,y=23)
b

46

In [28]:
c = add1([12,34],[56,8,89])
c

data is not numeric

### use assert to raise error

In [30]:
def add2(x: int|float , y: int|float):
    """
    add two numbers

    """
    assert isinstance(x,(int,float)) , "x should be numeric"
    assert isinstance(y,(int,float)) , "y should be numeric"
    z = x+y
    return z

In [31]:
add2(2,3)

5

In [32]:
add2('12',21)

AssertionError: x should be numeric

In [33]:
add2(23,'34')

AssertionError: y should be numeric

In [34]:
add2(12,34,435)

TypeError: add2() takes 2 positional arguments but 3 were given

### variadic function
-- varing arguments function

- variable length arguments - * 
- key word variable name arguments - **

In [37]:
def args_len(*args):
    print(args)
    print(type(args))

In [38]:
args_len(12,34,56,56)

(12, 34, 56, 56)
<class 'tuple'>

In [1]:
def add4(*args):
    add = 0
    for i in args:
        if isinstance (i ,(int,float)):
            add =  add+i
    return add

In [4]:
add4(12,'34','45',456)

468

In [53]:
add4(12,3,4,6)

25

### list unpacking

In [5]:
l = [ 12,34,4,7]

In [7]:
def add4(*args):
    add = 0
    for i in args:
        add =  add+i
    return add

In [8]:
add4(l)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [10]:
print(l)
add4(*l)

[12, 34, 4, 7]

57

In [11]:
('product', 'quantity', 'price')

('product', 'quantity', 'price')

In [ ]:
('product', 'quantity', 'price')

In [12]:
def total_bill(*args):
    total = 0 
    bill_before_tax = 0
    for product , quantity , price in args:
        subtotal = price*quantity
        print(f'sub total of {product}--> {subtotal}')

        bill_before_tax =  subtotal + bill_before_tax
        tax = 0.18
        taxable_amount = bill_before_tax*0.18

        total = taxable_amount + bill_before_tax
    print(f'bill_before_tax --> {bill_before_tax}')
    print(f'taxable_amount -->{taxable_amount}')
    print(f'total_amount -->{total}')

In [14]:
total_bill(('mobile',2 , 30000))

sub total of mobile--> 60000
bill_before_tax --> 60000
taxable_amount -->10800.0
total_amount -->70800.0

In [16]:
total_bill(('mobile',3,20000),('fan',2,2000))

sub total of mobile--> 60000
sub total of fan--> 4000
bill_before_tax --> 64000
taxable_amount -->11520.0
total_amount -->75520.0

In [18]:
64000*0.18 +64000

75520.0

In [21]:
60000 - 60000*20/100

48000.0

In [25]:
def total_bill_with_discount(*args):
    total = 0 
    bill_before_tax = 0
    for product , quantity , price, discount in args:
        subtotal = price*quantity - price*quantity*discount/100
        print(f'sub total of {product}--> {subtotal}')

        bill_before_tax =  subtotal + bill_before_tax
        tax = 0.18
        taxable_amount = bill_before_tax*0.18

        total = taxable_amount + bill_before_tax
    print(f'bill_before_tax --> {bill_before_tax}')
    print(f'taxable_amount -->{taxable_amount}')
    print(f'total_amount -->{total}')

In [26]:
total_bill_with_discount(('mobile',1,30000,10))

sub total of mobile--> 27000.0
bill_before_tax --> 27000.0
taxable_amount -->4860.0
total_amount -->31860.0

In [27]:
total_bill_with_discount(('mobile',1,30000,10),('earphone',2,1500,20))

sub total of mobile--> 27000.0
sub total of earphone--> 2400.0
bill_before_tax --> 29400.0
taxable_amount -->5292.0
total_amount -->34692.0

In [28]:
total_bill_with_discount(('mobile',1,30000,10),('earphone',2,1500,20),('laptop',2,25000,10))

sub total of mobile--> 27000.0
sub total of earphone--> 2400.0
sub total of laptop--> 45000.0
bill_before_tax --> 74400.0
taxable_amount -->13392.0
total_amount -->87792.0