### POLYMORPHISM OPERATORS

In [71]:
a =12
b = 34
a+b

46

In [72]:
s1 = 'data'
s2 = 'science'
s1+s2

'datascience'

In [73]:
l1 = [12,34]
l2 = [45,67,'python',True]
l1+l2

[12, 34, 45, 67, 'python', True]

In [74]:
l1 = (12,34)
l2 = (45,67,'python',True)
l1+l2

(12, 34, 45, 67, 'python', True)

In [75]:
## '*'
12*12

144

In [76]:
'data'*5

'datadatadatadatadata'

In [77]:
l1*2

(12, 34, 12, 34)

In [78]:
[12,34]*4

[12, 34, 12, 34, 12, 34, 12, 34]

In [79]:
(12, 34, 12, 34)*2

(12, 34, 12, 34, 12, 34, 12, 34)

### POLYMORPHISM FUNCTION
- len
- sum
- max
- min

In [80]:
s = 'swara'
len(s)

5

In [81]:
l = [12,45,68]
len(l)

3

In [82]:
t = (45,57.5,78)
len(t)

3

In [83]:
s = {34,65,62,2,8,39}
len(s)

6

In [84]:
d= {'name' : ['sunita'], 'age' : 23 , 'address' : 'pune'}
len(d)

3

In [85]:
import pandas as pd

In [86]:
df = pd.DataFrame(d)

In [87]:
d

{'name': ['sunita'], 'age': 23, 'address': 'pune'}

In [88]:
d

{'name': ['sunita'], 'age': 23, 'address': 'pune'}

In [89]:
import pandas as pd

In [90]:
df

     name  age address
0  sunita   23    pune

In [91]:
len(df)

1

In [92]:
s1 = pd.Series(d)

In [93]:
s1

name       [sunita]
age              23
address        pune
dtype: object

In [94]:
len(s1)

3

###### CREATE CLASS COUNTRY AND METHODS LANGUAGE , CAPITAL

In [95]:
class India:
    def Capital(self):
        print( 'Capital of india is New Delhi')
# create method for language
    def Language(self):
        print('Hindi is widely spoken language in India')
    
# create class of USA
class USA:
    def Capital(self):
        print('Capital of USA is Washingtone D.C. ')
# create method for language
    def Language(self):
        print('English is widely spoken in USA')

#class France
class France:
    def Capital(self):
        print('Capital of France is Paris')
#create method for language
    def Language(self):
        print('French is widely spoken in France')

In [96]:
a1 = India()

In [97]:
a1.Capital()

Capital of india is New Delhi

In [98]:
a1.Language()

Hindi is widely spoken language in India

In [99]:
b = USA()

In [100]:
b.Capital()

Capital of USA is Washingtone D.C.

In [101]:
b.Language()

English is widely spoken in USA

In [102]:
c = France()

In [103]:
c.Capital()

Capital of France is Paris

In [104]:
c.Language()

French is widely spoken in France

### create class Reactangle ,circle --> perimeter , area

In [105]:
from dataclasses import dataclass

In [106]:
@dataclass
class Reactangle:
    s1 : int|float
    s2 : int|float

# perimeter
    def Perimeter(self):
        return 2*(self.s1+self.s2)
    
# area
    def Area(self):
        return self.s1*self.s2
    
# create class circle
@dataclass
class Circle:
    r : int|float
#perimeter
    def Perimeter(self):
        return 2*3.14*self.r
#area 
    def Area(self):
        return 3.14*self.r**2

In [107]:
R1 = Reactangle(12,32)

In [108]:
R1.Area()

384

In [109]:
R1.Perimeter()

88

In [110]:
c1 = Circle(2)

In [111]:
c1.Area()

12.56

In [112]:
c1.Perimeter()

12.56

In [113]:
c2 = Circle(3)

In [114]:
c2.Area()

28.26

In [115]:
c2.Perimeter()

18.84

In [116]:
@dataclass
class  Triangle:
    s1 :  int|float
    s2  :  int|float
    s3 :  int|float

#  perimeter
    def  Perimeter(self):
        if  (self.s1 + self.s2 >  self.s3) and \
        (self.s2 + self.s3> self.s1)  and  \
        (self.s1 + self.s3  >  self.s2) : 
            P  =  self.s1+self.s2+self.s3
            return P
        

 #  find area  of  triangle
    def  Area(self):
        if self.Perimeter() is not None:
            s = self.Perimeter()/2
            return  (s*((s-self.s1)*(s-self.s2)*(s-self.s3)))**(1/2)
        else :
            print('sides do not formed triangle')

In [117]:
t1 = Triangle(s1 = 12,s2=13,s3=23)

In [118]:
t1.Perimeter()

48

In [119]:
t1.Area()

56.28498911788115

In [120]:
for i in [t1,R1,c1]:
    print(i)
    print(f'Perimeter --> {i.Perimeter()}')
    print(f'Area --> {i.Area()}')
    print()
    print('---------------------')

Triangle(s1=12, s2=13, s3=23)
Perimeter --> 48
Area --> 56.28498911788115

---------------------
Reactangle(s1=12, s2=32)
Perimeter --> 88
Area --> 384

---------------------
Circle(r=2)
Perimeter --> 12.56
Area --> 12.56

---------------------

In [121]:
c1.r

2

In [122]:
R1.s2

32

# Encapsulation
- Public variable - access publically
- protected variable - _
- private variables - __

In [126]:
# Public variable
class Account:
    def __init__(self,bal):
        self.bal= bal

In [127]:
a = Account(20000)

In [128]:
a.bal

20000

In [136]:
# Protected variable
class Account1:
    def __init__(self,bal):
        self._bal= bal
# check balance
    def check_balance(self):
        print(self._bal)

In [137]:
a1 = Account1(200)

In [138]:
a1._bal

200

In [140]:
a1.check_balance()

200

In [149]:
# private variables
class Account2:
    def __init__(self,bal):
        self.__bal = bal

In [150]:
a2 = Account2(300)

In [151]:
a2

In [152]:
a2.__bal()

AttributeError: 'Account2' object has no attribute '__bal'

In [154]:
a2._Account2__bal

300

### classmethod

In [194]:
class Student:
    school_name  =  'abc'
    def  __init__(self  , name  , age):
        self.name  =  name
        self.age  = age 

    @classmethod
    def  change_school(cls ,  new_name) :
        cls.school_name  =  new_name 

    # 
    @classmethod
    def school(cls):
        print(f'name  of school is  {cls.school_name}')

In [195]:
a = Student(name = 'xyz', age = 12)

In [196]:
a.name

'xyz'

In [197]:
a.age

12

In [198]:
a.school_name

'abc'

In [199]:
a.school_name = 'a1b1c1'

In [200]:
a.school_name

'a1b1c1'

In [201]:
b = Student(name = 'pqr' , age = 21)

In [202]:
b.name
b.school_name

'abc'

In [203]:
a.school_name

'a1b1c1'

In [204]:
a.change_school('x1y1z1')

In [205]:
a.school_name

'a1b1c1'

In [206]:
a.school()

name  of school is  x1y1z1

In [209]:
b = Student(name = 'pqr' , age =23)

In [210]:
b.school_name

'x1y1z1'

In [212]:
b.school()

name  of school is  x1y1z1